@import url('https://api.fontshare.com/v2/css?f[]=chillax@200,300,400,500,600,700,800&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --font-chillax: 'Chillax', sans-serif;
  --font-pencerio: 'pencerio', sans-serif;
}

@theme {
  --animate-grain: grain 8s steps(10) infinite;

  
@keyframes grain {
  0%, 100% { background-position: 0px 0px; }
  10% { background-position: 15px -10px; }
  20% { background-position: -20px 10px; }
  30% { background-position: 10px -25px; }
  40% { background-position: -15px 20px; }
  50% { background-position: -10px 15px; }
  60% { background-position: 25px 0px; }
  70% { background-position: 0px 20px; }
  80% { background-position: 15px -15px; }
  90% { background-position: -20px 5px; }
}}

@theme {
  --animate-marquee: marquee 15s linear infinite;

  @keyframes marquee {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-50%);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
